body {
    background-color: burlywood;
    color: brown;
}

h1 {
    color: blueviolet;
    font-size: 50px;
    font-weight: 400;
    font-family: cursive;
}

h2 {
    color: green;
    width: 200px;
}

p {
    color: black;
}

img {
    border-radius: 50%;
    border: grey double 3px;
}

hr {
    border-style: none;
    border-top: grey dotted 10px;
    width: 5%;
}
